@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--Magnolia);
}

/* MAIN CONTAINER */
.mainContainer {
    height: 100vh;
    display: grid;
    place-items: center;
}

/* CONTAINER */
.container {
    width: 65%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--Alabaster);
    padding: var(--padding-medium);
    border-radius: var(--corner-radius);
}

/* ASIDE */
aside {
    grid-column: 1/2;
    background: url("../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--corner-radius);
    padding: var(--padding-medium);
}

/* COMPLETE EACH STEP SECTION */
.stepSide {
    display: flex;
    align-items: center;
    margin-left: var(--margin-medium);
}

/* STEP CIRCLE ONE WHICH SHOWS STEPS */
.stepCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--Light-blue);
    border: 2px solid var(--Light-blue);
}

/* STEP CIRCLE ONE WHICH SHOWS CURRENT STEP */
.currentStep {
    color: var(--Marine-blue);
    background-color: var(--Light-blue);
}


/* STEP DESCRIPTIONS NUMBER AND NAME */
.stepDescription {
    padding: var(--padding-medium);
}

.stepNumber {
    font-size: var(--attribution-font);
    font-weight: var(--small-font-weight);
    color: var(--White);

}

.stepName {
    font-weight: var(--medium-font-weight);
    color: var(--White);
}


.pageContainers {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

.singupContainer {
    display: flex;
}

.planContainer,
.addOnsContainer,
.summaryContainer,
.thankYouContainer {
    display: none;
}

/*HEADING*/
.heading {
    margin-top: 2rem;
    margin-bottom: var(--bottom-margin);
}

.headingTitle {
    color: var(--Marine-blue);
    font-size: var(--small-heading);
    font-weight: var(--medium-font-weight);
    line-height: var(--small-heading-line-height);
}

.headingDescription {
    color: var(--Cool-gray);
}

/* SIGNUP FORM */
.inputFeilds {
    display: flex;
    flex-direction: column;
    margin: var(--margin-medium) 0;
}

.userInputs {
    border-radius: var(--corner-radius);
    font-size: var(--normal-font);
    font-weight: var(--medium-font-weight);
    padding: var(--padding-medium);
    border: 1px solid var(--Cool-gray);
    margin-top: var(--margin-small);
}

.inputFeilds {
    margin-bottom: var(--margin-large);
}

.nameInput:hover,
.emailInput:hover,
.numberInput:hover {
    cursor: pointer;
    outline: 1px solid var(--Marine-blue);
}

.nameInput:focus,
.emailInput:focus,
.numberInput:focus {
    outline: none;
}

.withWarning {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.wrongInput {
    display: none;
    color: var(--Strawberry-red);
    font-weight: var(--large-font-weight);
    font-size: var(--attribution-font);
}


/* PLAN CONTAINER */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--margin-medium);
    margin-bottom: var(--margin-large);
}

.planCard {
    border-radius: var(--corner-radius);
    outline: 1px solid var(--Cool-gray);
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
}

/* HIDE THE RADIO BUTTON OF CARD */
.radiox {
    visibility: hidden;
}

.cardName {
    font-size: var(--extra-small-heading);
    font-weight: var(--medium-font-weight);
    color: var(--Marine-blue);
    margin-bottom: var(--margin-medium);
}

.pricesbottom {
    color: var(--Cool-gray);
    height: var(--medium-heading);
}

.yearprice {
    color: var(--Marine-blue);
}

.bottomToggle {
    grid-column: 1/-1;
    gap: var(--margin-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Magnolia);
    margin-top: var(--margin-large);
}


.planCard:hover,
.addOnCard:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
    outline: 2px solid var(--attribution-color);
}

.planImage {
    width: 3rem;
    margin-bottom: var(--bottom-margin);
}

/* ADDONS CONTAINER */
.addOnCards {
    display: flex;
    flex-direction: column;
}

.addOnCard {
    display: flex;
    position: relative;
    padding: var(--padding-medium);
    outline: 2px solid var(--Cool-gray);
    border-radius: var(--corner-radius);
    margin-bottom: var(--margin-medium);
    align-items: center;
}

input[type=checkbox] {
    accent-color: var(--Purplish-blue);
    width: 1.5rem;
    height: 1.5rem;
}

.addOnName {
    margin-left: var(--margin-large);
    display: flex;
    align-items: center;
}

.addOnHeading {
    font-weight: var(--large-font-weight);
    color: var(--Marine-blue);
}

.addOnDescription {
    /* width: 80%; */
    color: var(--Cool-gray);
    margin-top: var(--margin-small);
}

.pricesSide,
.addOnSelectedPrice,
.totalPrice,
.basePrice,
.total {
    position: absolute;
    right: 0;
    color: var(--Purplish-blue);
    font-weight: var(--small-font-weight);
    padding-right: var(--padding-medium);

}

/* SUBMARRY CONTAINER */

.addOnSelectedName,
.movetoplans,
.totalName {
    color: var(--Cool-gray);
}

.movetoplans {
    text-decoration: underline;
    cursor: pointer;
    margin-top: var(--margin-small);
}

.movetoplans:hover {
    color: var(--Purplish-blue);
}

.addOnSelectedPrice {
    font-weight: var(--large-font-weight);
}

.basePrice,

p {
    font-weight: var(--large-font-weight);
    color: var(--Marine-blue);
    text-transform: capitalize;
}

.total {
    color: var(--Cool-gray);
    background-color: var(--Alabaster);
}

.totalPrice {
    font-size: var(--extra-small-heading);
    font-weight: var(--medium-font-weight);
}

.services {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-large);
}

.mainPlan,
.total,
.totalName {
    display: flex;
    position: relative;

    margin-bottom: var(--margin-small);
    align-items: center;
}

.mainPlan {
    padding: 1rem;
}

.services,
.total {
    background-color: var(--Magnolia);
    padding: var(--padding-small);
    border-radius: var(--corner-radius);
}

/* THANK YOU CONTAINER */

.thankyouMessage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Cool-gray);
}

.values {
    text-transform: capitalize;
    font-weight: var(--medium-font-weight);
    color: var(--Marine-blue);
}

.thankYouHeading {
    font-size: var(--large-heading);
    font-weight: var(--large-font-weight);
    margin-bottom: var(--margin-medium);
    color: var(--Marine-blue);
}

.message {
    width: 95%;
    text-align: center;
    /* line-height: var(--normal-line-height); */
}

/* BUTTONS */
.belowButtons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-medium);
    margin-bottom: var(--margin-medium);
}

.step1Buttons {
    justify-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
}

.stepLastButtons {
    align-self: center;
}

.buttons {
    cursor: pointer;
    width: 8rem;
    font-size: var(--normal-font);
    padding: var(--padding-medium);
    border-radius: var(--corner-radius);
    border: none;
    color: var(--White);
    background-color: var(--Marine-blue);
}

.buttons:hover {
    background-color: var(--attribution-color);
}

.goBack {
    align-self: center;
    cursor: pointer;
    color: var(--Cool-gray);
}

.goBack:hover {
    color: var(--Marine-blue);
}


/* DISPLAY YEARLY OR MONTHLY */
.toggleDisplay {
    display: none;
}

/* CHANGING TOGGLE DURATION CARD  */
.togglecolor {
    color: var(--Cool-gray)
}

/* TOGGLE FOR PLAN OR CARD SELECTED */
.selected {
    background-color: var(--selected-blue);
    outline: 2px solid var(--attribution-color);
}


/* TOGGLE CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine-blue);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    top: 15%;
    left: 8%;
    background-color: var(--White);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(2rem);
}


/* RESPONSIVENESS CHANGES */

@media screen and (max-width:1250px) {
    .planImage {
        margin-bottom: var(--margin-medium);
    }

    .cardName {
        font-size: var(--normal-font);
    }

}

@media screen and (max-width:1150px) {
    .container {
        width: 80%;
    }

}

@media screen and (max-width:950px) {

    /* body{ background-color: red;} */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--margin-medium);
        margin-bottom: var(--margin-large);
    }

    .cards label:nth-child(3) {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .addOnDescription {
        width: 80%;
    }

}

@media screen and (max-width:800px) {

    .mainContainer {
        display: flex;
        justify-content: center;
        place-items: unset;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
        background-color: var(--Magnolia);
    }

    aside {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-position: 90% 85%;
        border-radius: unset;
    }

    .pageContainers {
        z-index: 1;
        width: 100%;
        height: calc(100vh - 10rem);
        position: absolute;
        top: 10rem;
        background: transparent;
    }

    .withHeadingForm {
        top: 10rem;
        margin: 0 auto;
        width: 90%;
        border-radius: var(--corner-radius);
        padding: var(--padding-large);
        background: var(--Alabaster);
    }

    .stepDescription {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .planCard {
        display: flex;
        flex-direction: row;
    }

    .stepCircle {
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
    }

    .belowButtons {
        width: 90%;
        margin: 0 auto;
        /* padding: var(--padding-large); */
        margin-top: 2rem;
        margin-bottom: 4rem;
        background-color: var(--Alabaster);

    }

    .stepLastButtons {
        justify-content: center;
    }


}

@media screen and (max-width:450px) {
    .headingTitle {
        font-size: var(--small-heading);
        line-height: var(--small-heading);
        margin-bottom: 1rem;

    }

    .pageContainers {
        padding: 2.5rem;
    }

    .withHeadingForm {
        padding: .5rem;
    }

    .belowButtons {
        margin-bottom: 5rem;
    }

    .planCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .planImage {
        align-self: center;
    }

    .cardName {
        font-size: 1.5rem;
    }

    .bottomToggle {
        display: flex;
        flex-direction: column;
    }

    .addOnCard {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .checkbox{
        margin-bottom: 2rem;
    }

    .addOnDescription {
        margin-bottom: 3rem;
        width: 100%;
    }

    .addOnName {
        margin-left: unset;
    }

    .pricesSide {
        position: absolute;
        bottom: 0;
        left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .addOnSelectedPrice,
    .totalPrice,
    .basePrice {
        position: absolute;
        right: 0;
        margin-right: unset;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-right: unset;
    }

    .addOnSelectedPrice {
        left: 1rem;
        bottom: -2rem;

    }

    .extraPlan {
        margin-bottom: 3rem;
    }

    .basePrice {
        margin-top: 3rem;
    }

    .totalPrice {
        font-size: var(--normal-font);
        font-weight: var(--medium-font-weight);
    }

    .mainPlanName {
        font-size: .5rem;
        bottom: 0;
        left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* THANK YOU CONTAINER */
    .thankyouMessage {
        width: 100%;
    }

    .values {
        text-transform: capitalize;
        font-weight: var(--medium-font-weight);
        color: var(--Marine-blue);
    }

    .thankYouHeading {
        font-size: var(--small-heading);
        font-weight: var(--large-font-weight);
        margin-bottom: var(--margin-medium);
        color: var(--Marine-blue);
    }

    .message {
        width: 95%;
        text-align: center;
        /* line-height: var(--normal-line-height); */
    }

    .buttons{
        width: 100%;
        height: 3rem;
    }

}