@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--Magnolia);
}

/* MAIN CONTAINER */
.mainContainer {
    height: 100vh;
    display: grid;
    place-items: center;
}

/* CONTAINER */
.container {
    width: 65%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--Alabaster);
    padding: var(--padding-medium);
    border-radius: var(--corner-radius);
}

/* ASIDE */
aside {
    grid-column: 1/2;
    background: url("../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--corner-radius);
    padding: var(--padding-medium);
}

/* COMPLETE EACH STEP SECTION */
.stepSide {
    display: flex;
    align-items: center;
    margin-left: var(--margin-medium);
}

/* STEP CIRCLE ONE WHICH SHOWS STEPS */
.stepCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--Light-blue);
    border: 2px solid var(--Light-blue);
}

/* STEP CIRCLE ONE WHICH SHOWS CURRENT STEP */
.currentStep {
    color: var(--Marine-blue);
    background-color: var(--Light-blue);
}


/* STEP DESCRIPTIONS NUMBER AND NAME */
.stepDescription {
    padding: var(--padding-medium);
}

.stepNumber {
    font-size: var(--attribution-font);
    font-weight: var(--small-font-weight);
    color: var(--White);

}

.stepName {
    font-weight: var(--medium-font-weight);
    color: var(--White);
}


.pageContainers {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

.singupContainer {
    display: flex;
}

/*HEADING*/
.heading {
    margin-top: 2rem;
    margin-bottom: var(--bottom-margin);
}

.headingTitle {
    color: var(--Marine-blue);
    font-size: var(--small-heading);
    font-weight: var(--medium-font-weight);
    line-height: var(--small-heading-line-height);
}

.headingDescription {
    color: var(--Cool-gray);
}

/* SIGNUP FORM */
.inputFeilds {
    display: flex;
    flex-direction: column;
    margin: var(--margin-medium) 0;
}

.userInputs {
    border-radius: var(--corner-radius);
    font-size: var(--normal-font);
    font-weight: var(--medium-font-weight);
    padding: var(--padding-medium);
    border: 1px solid var(--Cool-gray);
    margin-top: var(--margin-small);
}

.inputFeilds {
    margin-bottom: var(--margin-large);
}

.nameInput:hover,
.emailInput:hover,
.numberInput:hover {
    cursor: pointer;
    outline: 1px solid var(--Marine-blue);
}

.nameInput:focus,
.emailInput:focus,
.numberInput:focus {
    outline: none;
}

.withWarning {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.wrongInput {
    display: none;
    color: var(--Strawberry-red);
    font-weight: var(--large-font-weight);
    font-size: var(--attribution-font);
}

/* BUTTONS */
.belowButtons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-medium);
    margin-bottom: var(--margin-medium);
}

.step1Buttons {
    justify-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
}

.buttons {
    cursor: pointer;
    width: 8rem;
    font-size: var(--normal-font);
    padding: var(--padding-medium);
    border-radius: var(--corner-radius);
    border: none;
    color: var(--White);
    background-color: var(--Marine-blue);
}

.buttons:hover {
    background-color: var(--attribution-color);
}
